
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header__container{

   background-image: url("марафон.png")
   
}

.header__content__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 205px;
}
.header__container__title{
    font-family: 'Unbounded', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 128px;
    line-height: 159px;
    color: #ffffff;
}
.header__container__subtitle{
    font-family: 'Unbounded', cursive;
    font-style: bold;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
}
.header__container__button{
    background: rgba(255, 255, 255, 0.79);
    width: 281px;
    height: 50px;
    padding: 15px 34px;
    text-align: center;
    border-radius: 25px;
    margin-top: 38px;

}
.btn-text{
    font-family: 'Unbounded', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2E2B2A;
    
}
.marathon__info{
    height: 523px;
    
}
.marathon__info__container{
    display: flex;
    justify-content: center;
    padding-top: 192px;

}
.marathon__line{
    border: 2px solid #000000;

}
.marathon__info__text{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.map__section{
    width: 1441px;
    height: 715px;
    background-image: url("mapback.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}